@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.shieldContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  cursor: default !important;

  h2 {
    @include mix.title-xl;
    font-size: 32px;
    color: var(--accent);
    margin-bottom: 8px;
  }

  p {
    color: var(--text);
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.5;
    
    strong {
      color: var(--accent);
    }
  }

  .reloadBtn {
    margin-top: 10px;
  }
}