@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.contactSection{
    background-color: var(--surface);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgText {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: 800;
    font-family: var(--font-title);
    font-size: clamp(60px, 12vw, 180px);
    color: var(--text);
    opacity: 0.02;
    pointer-events: none;
    white-space: nowrap;

    z-index: 0;
    letter-spacing: -0.05em;
}

.formContainer {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.statusMsg {
    font-size: 12px;
    text-align: center;
    color: var(--accent);
    margin-top: 10px;
}