@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 60px;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  @include mix.mobile {
    padding: 24px 24px;
  }

  &.scrolled {
    padding: 18px 60px;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--border);

    @include mix.mobile {
      padding: 16px 24px;
    }
  }

  .navLinks {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    margin-left: auto;

    @include mix.mobile {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      flex-direction: column;
      padding: 60px 0;
      background: var(--surface);
      border-bottom: 1px solid var(--border);
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      gap: 32px;
      margin: 0;
      opacity: 0;
    }

    li {
      &.themeItemMobile {
       
        @include mix.mobile {
          display: block;
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid var(--border);
          width: 80%;
          text-align: center;
        }
      }
    }
  }

  // AINDA NÃO UTILIZADO
//   .navActions {
//     display: flex;
//     align-items: center;

//     @include mix.mobile {
//       display: none;
//     }
//   }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 102;

    .bar {
      width: 25px;
      height: 2px;
      background-color: var(--accent);
      transition: 0.3s ease;
    }

    @include mix.mobile {
      display: flex;
    }
  }

  &.menuOpen {
    background: var(--surface);

    .navLinks {
      @include mix.mobile {
        top: 100%;
        opacity: 1;
      }
    }

    .hamburger {
      .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
      .bar:nth-child(2) { transform: translateY(-0px) rotate(-45deg); }
    }
  }
}