@use '@/styles/variables' as vars;

.dot,
.ring {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    width: 12px;
    height: 12px;
    background: var(--accent);
    mix-blend-mode: difference;
    transition: transform 0.2s ease;

    &.active {
        transform: translate(-50%, -50%) scale(2);
    }
}

.ring {
    width: 40px;
    height: 40px;
    border: 1px solid var(--accent);
    opacity: 0.5;
    transition: opacity 0.3s;

    &.active {
        opacity: 0;
    }
}